#GIT IGNORE

#files

#folders
.vscode/*
TEST/*
TEST/
C/.vscode
C/.vscode/*
/Tests/
/MyWorks/
.gitignore
.gitignore



# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
