#GIT IGNORE

#files

#folders
.vscode/*
TEST/*
TEST/
C/.vscode
C/.vscode/*
/Logical Test 1/
/Logical Test 2 16 Aug/
/Machine Test 1/



# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
