# Ignore Visual Studio Code settings
.vscode/
C/.vscode/

# Ignore local history in Visual Studio Code
.history/

# Ignore specific folders
Tests/
MyWorks/

# Ignore specific files
.gitignore

# Ignore built Visual Studio Code Extensions
*.vsix
